@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;1,100&family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*, ::before, ::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 0 0 4px -4px;
  margin: 0;
  padding: 8px;
}
header a {
  margin: auto;
}
header img {
  height: 30px;
}

main .localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfdfdf;
  height: 50px;
  gap: 10px;
}

.explor_menu {
  text-align: center;
  background-color: #e6e6e6;
  padding-top: 1px;
}
.explor_menu h3 {
  margin-bottom: 5px;
}
.explor_menu p {
  font-size: 12px;
  color: gray;
  margin-top: 0;
}
.explor_menu button {
  color: white;
  font-weight: 400;
  font-size: 15px;
  padding: 10px 12px;
  margin: 10px 0 30px 0;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 18px;
  border: none;
  transition: transform 200ms;
  box-shadow: 2px 1px 15px -3px;
  cursor: pointer;
}
.explor_menu button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.loader {
  position: fixed;
  display: grid;
  place-items: center;
  z-index: 1;
  height: 100%;
  inset: 0;
  background-color: rgba(247, 241, 241, 0.9843137255);
  opacity: 0.9;
  animation: background_anination 200ms;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  transform-origin: top;
}
.loader::after {
  content: "";
  width: 100px;
  height: 100px;
  border-top: 3px transparent #9356DC;
  border-right: 3px solid #FF79DA;
  border-radius: 50%;
  animation: spin 1.5s infinite linear;
}

@keyframes background_anination {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.fonction {
  margin: 20px 0 20px 0;
}
.fonction h3 {
  padding-left: 15px;
}
.fonction ol {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  list-style-type: none;
  padding: 0 20px;
  counter-reset: number;
  /* compteur */
}
.fonction ol .fas {
  margin: 0 15px;
  color: #7e7e7e;
}
.fonction li {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f6f6f6;
  padding: 8px 12px;
  font-size: small;
  height: 50px;
  width: 31%;
  border-radius: 15px;
  box-shadow: 0 0 6px -3px;
}
.fonction li::before {
  counter-increment: number;
  content: counter(number);
  color: white;
  padding: 10px;
  position: absolute;
  border-radius: 50%;
  background-color: #b52fda;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -12px;
}
.fonction li:hover {
  transform: scale(1.02);
  opacity: 0.9;
  background-color: #dbd7d7;
}
.fonction li:hover i::before {
  color: #b52fda;
}

.restaurantMenu {
  background-color: #e6e6e6;
  height: auto;
  padding: 20px 10px 50px 10px;
  margin-top: 20px;
  position: relative;
}
.restaurantMenu h4 {
  margin: 5px 0 3px 5px;
  color: black;
  font-weight: bold;
}
.restaurantMenu a {
  text-decoration: none;
}
.restaurantMenu .cardMenu {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1100px) {
  .restaurantMenu .cardMenu {
    flex-wrap: wrap;
  }
}
.restaurantMenu .card {
  width: 44%;
  height: 210px;
  background-color: white;
  padding: 0.7%;
  border-radius: 14px;
  margin: 20px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .restaurantMenu .card {
    width: 100%;
    margin: 10px 0;
  }
}
.restaurantMenu .card .card_image {
  object-fit: cover;
  width: 100%;
  height: 150px;
  border-radius: 14px 14px 0 0;
}
.restaurantMenu .card .detailCard {
  position: relative;
  height: auto;
}
.restaurantMenu .card .detailCard::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font Awesome 5 Free";
  position: absolute;
  cursor: pointer;
  content: "\f004";
  font-size: 1rem;
  right: 1rem;
  top: 50%;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 200ms ease-in-out;
  font-weight: 400;
}
.restaurantMenu .card .detailCard::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font Awesome 5 Free";
  position: absolute;
  cursor: pointer;
  content: "\f004";
  font-size: 1rem;
  right: 1rem;
  top: 50%;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 200ms ease-in-out;
  color: transparent;
  opacity: 0;
  font-weight: 900;
}
.restaurantMenu .card .detailCard:hover::after {
  opacity: 1;
  background-image: linear-gradient(to top, #8d55d1, #FF79DA);
  transform: scale(1.02);
  opacity: 0.9;
}
.restaurantMenu .card .detailCard p {
  margin: 0 0 3px 5px;
  color: black;
  font-size: 13px;
}
.restaurantMenu .new::before {
  content: "Nouveau";
  position: absolute;
  height: 25px;
  width: 80px;
  background-color: #99E2D0;
  text-align: center;
  color: rgb(149, 182, 149);
  padding-top: 4px;
  right: 15px;
  top: 15px;
}

footer {
  background-color: rgba(34, 30, 30, 0.87);
  color: white;
  padding: 10px 20px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer p {
  margin: 8px 0;
}
footer h3 {
  font-family: Shrikhand;
  font-weight: bold;
}
footer i {
  padding: 5px;
}

@keyframes animation_menus {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
body {
  background-color: #f6f6f6;
}

#page_restos {
  position: relative;
}
#page_restos header::before {
  content: "\f060";
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font Awesome 5 Free";
  position: absolute;
  cursor: pointer;
  font-weight: 900;
  left: 1rem;
  text-align: center;
  color: black;
}

.logo_restautants {
  margin: auto;
}

.imag_resto img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  object-position: center top;
}

.titre_menu {
  margin-top: -25px;
}
.titre_menu h2 {
  font-family: "shrikhand", "cursive";
  font-size: 18px;
  padding: 18px;
  margin: -4px 0 0 0;
  background-color: #f6f6f6;
  border-radius: 22px 22px 0 0;
  position: relative;
}
.titre_menu h2::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font Awesome 5 Free";
  position: absolute;
  cursor: pointer;
  content: "\f004";
  font-size: 1rem;
  right: 1rem;
  top: 50%;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 200ms ease-in-out;
  font-weight: 400;
  top: 20px;
  right: 2rem;
}
.titre_menu h2::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "font Awesome 5 Free";
  position: absolute;
  cursor: pointer;
  content: "\f004";
  font-size: 1rem;
  right: 1rem;
  top: 50%;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 200ms ease-in-out;
  color: transparent;
  opacity: 0;
  font-weight: 900;
  top: 20px;
  right: 2rem;
}
.titre_menu h2:hover::after {
  opacity: 1;
  background-image: linear-gradient(to top, #8d55d1, #FF79DA);
  transform: scale(1.02);
  opacity: 0.9;
}

.menus_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  gap: 10px;
  width: 100%;
}
.menus_grid .menus {
  overflow: hidden;
  background-color: #f6f6f6;
}
.menus_grid .menus h3 {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}
.menus_grid .menus h3::after {
  content: "";
  height: 2px;
  width: 46px;
  background-color: #99E2D0;
  position: absolute;
  top: 22px;
  left: 0;
}
.menus_grid .menus .menus_items_list:nth-child(1) {
  animation-delay: 100ms;
}
.menus_grid .menus .menus_items_list:nth-child(2) {
  animation-delay: 200ms;
}
.menus_grid .menus .menus_items_list:nth-child(3) {
  animation-delay: 300ms;
}
.menus_grid .menus .menus_items_list .menus_compo {
  display: flex;
  background-color: white;
  margin: 16px 2px;
  box-shadow: 1px 1px 8px -3px;
  border-radius: 14px;
  width: auto;
  overflow: hidden;
  animation: animation_menus 1s;
  animation-fill-mode: both;
}
.menus_grid .menus .menus_items_list .menus_compo:hover {
  cursor: pointer;
}
.menus_grid .menus .menus_items_list .menus_compo:hover .menus_compo_check {
  margin-right: 0;
}
.menus_grid .menus .menus_items_list .menus_compo:hover .menus_compo_check i::before {
  animation: animation_spin 0.5s ease-in-out;
}
@keyframes animation_spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
.menus_grid .menus .menus_items_list .menus_compo_items {
  overflow: hidden;
  padding: 10px;
}
.menus_grid .menus .menus_items_list .menus_compo_items h4, .menus_grid .menus .menus_items_list .menus_compo_items p {
  margin: 2px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menus_grid .menus .menus_items_list .menus_compo_items p {
  font-size: 12px;
}
.menus_grid .menus .menus_items_list .menu_compo_prix {
  margin-left: auto;
  font-weight: 900;
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  padding: 10px;
}
.menus_grid .menus .menus_items_list .menus_compo_check {
  display: grid;
  flex-shrink: 0;
  width: 45px;
  height: auto;
  margin-right: -45px;
  transition: margin-right 0.5s;
  border-radius: 0 14px 14px 0;
  background-color: #99E2D0;
  transition: margin-right 0.5s;
}
.menus_grid .menus .menus_items_list .menus_compo_check i {
  display: grid;
}
.menus_grid .menus .menus_items_list .menus_compo_check i::before {
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin: auto;
  display: grid;
  align-items: center;
  place-items: center;
}

div.commander {
  height: 10vh;
  display: grid;
  place-items: center;
}
div.commander button {
  color: white;
  font-weight: 400;
  font-size: 15px;
  padding: 10px 12px;
  margin: 10px 0 30px 0;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  border-radius: 18px;
  border: none;
  transition: transform 200ms;
  box-shadow: 2px 1px 15px -3px;
  cursor: pointer;
}
div.commander button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    margin: 0 0 15px 0;
  }

  .fonction ol {
    flex-direction: column;
  }

  .fonction li {
    width: 96%;
  }

  .menus_grid {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
