@import "./sass/base.scss";
@import "./sass/layouts/header.scss";
@import "./sass/layouts/localisation.scss";
@import "./sass/layouts/explorez_resto.scss";
@import "./sass/layouts/fonctionnement.scss";
@import "./sass/layouts/restaurant_menu.scss";
@import "./sass/layouts/footer.scss";
@media screen and (max-width: 768px) {
    .card {
        width: 100%;
        margin: 0 0 15px 0;
    }
    .fonction ol {
        flex-direction: column;
 
    }
    .fonction li {
        width: 96%;
    }
}
