@use "../utils/mixins.scss";
@use "../utils/animation.scss";
body{
    background-color: #f6f6f6;
}
#page_restos {
    position: relative;
    header::before {
        content: "\f060";
        @include mixins.font_awesome_soeudo_element;
        font-weight: 900;
        left: 1rem;
        text-align: center;
        color: black;
    }
}
.logo_restautants {
    margin: auto;
}
.imag_resto {
    img {
        width: 100%;
        height: 30vh;
        object-fit: cover;
        object-position: center top;
    }
}
.titre_menu {
    margin-top: -25px;
    h2 {
        font-family: "shrikhand", "cursive";
        font-size: 18px;
        padding: 18px;
        margin: -4px 0 0 0;
        background-color: #f6f6f6;
        border-radius: 22px 22px 0 0;
        position: relative;
        @include mixins.heart_animated;
    }
}

.menus_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    gap: 10px;
    width: 100%;
    .menus {
        overflow: hidden;
        background-color: #f6f6f6;
        h3 {
            margin-top: 0;
            text-transform: uppercase;
            font-weight: 400;
            position: relative;
            &::after {
                content: "";
                height: 2px;
                width: 46px;
                background-color: #99E2D0;
                position: absolute;
                top: 22px;
                left: 0;
            }
        }
        .menus_items_list {
            $menu_item_list: 3;
            @for $i from 1 through $menu_item_list {
                &:nth-child(#{$i}) {
                    animation-delay: 100ms * $i;
                }
            }
            .menus_compo {
                display: flex;
                background-color: white;
                margin: 16px 2px;
                box-shadow: 1px 1px 8px -3px;
                border-radius: 14px;
                width: auto;
                overflow: hidden;
                animation: animation_menus 1s;
                animation-fill-mode: both;
                &:hover {
                    .menus_compo_check {
                        margin-right: 0;
                        i::before {
                            @include mixins.animation_spin;
                            animation: animation_spin 0.5s ease-in-out;
                        }
                    }
                    cursor: pointer;
                }
            }
            .menus_compo_items {
                overflow: hidden;
                padding: 10px;
                h4, p {
                    margin: 2px 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                p {
                    font-size: 12px;
                }
            }
            .menu_compo_prix {
                margin-left: auto;
                font-weight: 900;
                font-size: 12px;
                display: flex;
                align-items: flex-end;
                padding: 10px;  
            }
            .menus_compo_check {
                display: grid;
                flex-shrink: 0;
                width: 45px;
                height: auto;
                margin-right: -45px;
                transition: margin-right 0.5s;
                border-radius: 0 14px 14px 0;
                background-color: #99E2D0;
                transition: margin-right 0.5s;
                i {
                    display: grid;
                    &::before {
                        color: #99E2D0;
                        background-color: white;
                        border-radius: 50%;
                        width: 22px;
                        height: 22px;
                        margin: auto;
                        display: grid;
                        align-items: center;
                        place-items: center;
                    }
                }
            }
        }
        
    }
}
div.commander {
    height: 10vh;
    display: grid;
    place-items: center;
    button {
        @include mixins.button_commander;
        &:hover {
            @include mixins.transform_zoum;
        }
    }    
}
  
