$color_primaire: #9356DC;
$color_secondaire: #FF79DA;
$color_tertiaire: #99E2D0;
$light_green: rgb(149, 182, 149);
$color_grey: #7e7e7e;
$light_grey: #dfdfdf;
$color_white: #f7f1f1fb;
$color_violet: #b52fda;
$color_black: rgba(34, 30, 30, 0.87);