@mixin transform_zoum {
    transform: scale(1.02);
    opacity: 0.9;

    /*
    @keyframes transform_zoum{
        0% {
            transform: rotate(-270deg);
        }
        100% {
            transform: rotate(0);
        }
    }
    */
}