@import "../utils/zoum.scss";
.fonction {
    position: relative;
    padding-bottom: 20px;
}
.fonction h3 {
    padding-left: 20px;
}
.fonction ol {
    display: flex;
    gap: 30px;
    list-style-type: none; 
    padding-left: 30px;
    counter-reset: number; /* compteur */

}
.fonction li {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #f6f6f6;
    padding: 8px 12px;
    font-size: small;
    height: 50px;
    width: 30%;
    border-radius: 16px;
    box-shadow: 0 0 6px -3px;
}
ol li:hover {
   /* @include transform_zoum.zum; */
   @include zum;
    i::before {
       color: #b52fda;
    }
}
ol .fas {
    margin: 0 15px;
}

.fonction li::before {
    counter-increment: number;
    content: counter(number);
    color: white;
    padding: 10px;
    position: absolute;
    border-radius: 50%;
    background-color: #b52fda;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -15px;
}