@use "../utils/mixins.scss";
@use "../utils/colors.scss";

.fonction {
    margin: 20px 0 20px 0;
    background-color: colors.$color_white;
    h3 {
        padding-left: 15px;
    }
    ol {
        display: flex;
        align-items: centent;
        gap: 30px;
        list-style-type: none;
        padding-left: 20px;
        counter-reset: number; /* compteur */
        @media screen and (max-width: 768px) {
                flex-direction: column;
        }
        .fas {
            margin: 0 15px; 
            color: rgba(15, 13, 13, 0.75);
          /*color: colors.$color_grey;*/
        }
    }
    li {
        display: flex;
        align-items: center;
        position: relative;
        padding: 8px  0 8px 12px;
        font-weight: 400;
        height: 50px;
        width: 31%;
        border-radius: 15px;
        box-shadow: 0 1px 4px -3px; 
        @media screen and (max-width: 1024px) {
            margin-right: 10px;
        }
        @media screen and (max-width: 768px) {
            width: 98%;
        }
        &::before {
            counter-increment: number;
            content: counter(number);
            color: colors.$color_white;
            padding: 10px;
            position: absolute;
            border-radius: 50%;
            background-color: colors.$color_primaire;
            width: 16px;
            height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            left: -12px; 
        }
        &:hover {
            @include mixins.transform_zoum;
            background-color: rgba(238, 223, 231, 0.67);
            i::before {
                color: colors.$color_primaire;
            }
        }
    }
} 
    
    