footer {
    background-color: rgba(34, 30, 30, 0.87);
    color: white;
    padding: 15px;
}
footer a {
    color: white;
}
footer p {
    margin: 8px;
}
footer h3 {
    font-family: Shrikhand;
    font-weight: bold;
}
footer i {
    padding: 5px;
}