footer {
    background-color: rgba(34, 30, 30, 0.87);
    color: white;
    padding: 10px 20px;
    a {
        color: white;
        text-decoration: none;
    }
    p {
        margin: 8px 0;
    }
    h3 {
        font-family: Shrikhand;
        font-weight: bold;
    }
    i {
        padding: 5px;
    }
}