@use "../utils/colors.scss";
header {
    display: flex;
    align-items: center;
    position: relative;
    background-color: colors.$color_white;
    box-shadow: 0 0 12px -6px;
    margin: 0;
    padding: 8px;
    a {
       margin: auto;
   }
    img {
       height: 30px;
   }
}
